<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modelsgame">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-feature android:name="android.hardware.wifi" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Переведи"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Главное меню-->

        <activity
            android:name=".MainPage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Переведи">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        <activity
            android:name=".SingleGameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Одиночная игра">

        </activity>

        <activity
            android:name=".DoubleGameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Двойная игра">
        </activity>

        <activity
            android:name=".AchievementsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Достижения">
        </activity>

        <activity
            android:name=".save_result"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Сохранение результата">
        </activity>

    </application>

</manifest>
