<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modelsgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Переведи"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Главное меню-->

        <activity
            android:name=".MainPage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Главное меню">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Одиночная игра-->

        <activity
            android:name=".SingleGameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Одиночная игра">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DoubleGameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Двойная игра">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AchievementsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Достижения">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
